
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502259906428'); /* IE9*/
  src: url('iconfont.eot?t=1502259906428#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502259906428') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502259906428') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502259906428#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file:before { content: "\e656"; }

.icon-search:before { content: "\e672"; }

.icon-location:before { content: "\e622"; }

.icon-home1:before { content: "\e6a1"; }

.icon-right:before { content: "\e65b"; }

.icon-user:before { content: "\e655"; }

.icon-down:before { content: "\e662"; }

.icon-lajitong9:before { content: "\e62d"; }

.icon-tie:before { content: "\e63f"; }

.icon-building:before { content: "\e61e"; }

.icon-ie1:before { content: "\e85f"; }

.icon-gift:before { content: "\e648"; }

.icon-fire:before { content: "\e678"; }

.icon-university:before { content: "\e6cf"; }

.icon-close:before { content: "\e63c"; }

.icon-people:before { content: "\e605"; }

.icon-address:before { content: "\e601"; }

.icon-bianji:before { content: "\e6a2"; }

.icon-time:before { content: "\e61a"; }

.icon-gongsi:before { content: "\e623"; }

.icon-collection_fill:before { content: "\e6ea"; }

.icon-collection:before { content: "\e6eb"; }

.icon-zhiwei:before { content: "\e603"; }

.icon-xuanjiang:before { content: "\e606"; }

.icon-fire-copy:before { content: "\e860"; }

